.bareme_body{
    background-image: url('../images/RichelieuTownGate.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
    line-height: initial;
    overflow: hidden;
    min-height: 1000px;
}
.title{
    color: darkblue;
    font-size: 48px;
    text-shadow: -1px -1px #f00, 1px 1px #a00, -3px 0 4px #000;
    text-decoration: underline;
}
h3{
    color:  #f80223;
    font-size: 38px;
    text-shadow: -1px -1px rgb(243, 219, 2), 1px 1px rgb(243, 219, 2), -3px 0 4px #000;
    text-decoration: underline;
}

thead{
    background-color: grey;
}

tbody{
    background-color: rgb(219, 210, 210);
}

.bareme_gest{
    background-color: rgb(187, 170, 170);
}

.bareme_loc{
    background-color: rgb(187, 170, 170);
}