.banner-area{
    background-image: url('../images/richelieu.jpg');
    background-size: cover;
    font-family: "Graduate";
    padding: 3em;
    height : 550px;
    display: grid;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
}
.word{
    color: red;
}