//home page

.banner-area{
    background-image: url('../images/cowork.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
    line-height: initial;
    overflow: hidden;
    min-height: 1000px;
}
.word{
    color: red;
}

.effect,
.effects,
.effet {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    height: 200px;
}
.effect:hover,
.effects:hover,
.effet:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}