.sale_page{
    background-color: rgb(146, 4, 146);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
    line-height: initial;
    overflow: hidden;
    min-height: 1000px;
}