// Css de la page index entité sale
.sale_body {
    background-color: rgb(237, 228, 228);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
    line-height: initial;
    overflow: hidden;
    min-height: 1000px;
}

.sale_title {
    text-align: center;
    color: red;
    text-decoration: underline;
}

.sale_img{
    width: 100%;
    height: auto;
    align-items: center;
}