 <footer>
        	<div class="footer-top">
		        <div class="container">
		        	<div class="row">
		        		<div class="col-md-3 footer-about wow fadeInUp">
		        			<h3>Nous</h3>
		        			<p>
		        				Parce que vendre un bien est un métier, permettant la rencontre avec des acquéreurs divers, Sébastien POLI-TARDIEU, votre interlocuteur, vous offrira tous les moyens de nature à valoriser votre bien dans le but de la cession. Anaïs CHAVENEAU est également à votre écoute !
		        			</p>
		        			<p>&copy; Company Inc.</p>
	                    </div>
		        		<div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
		        			<h3>Contact</h3>
		                	<p><i class="fas fa-map-marker-alt"></i> 20, place Louis 13, 37120 Richelieu</p>
		                	<p><i class="fas fa-phone"></i><a href="tel:+33777344188" target="_blank" class="footer_contact"> Tel: 07 77 34 41 88 (Mr Poli Tardieu)</p></a>
							<p><i class="fas fa-phone"></i><a href="tel:+33620227854" target="_blank" class="footer_contact"> Tel: 06 20 22 78 54 (Mme Chaveneau)</p></a>
		                	<p><i class="fas fa-envelope"></i> Email: <a href="mailto:anais.immobilier37@gmail.com">anais.immobilier37@gmail.com</a></p>
		                	<p><i class="fab fa-skype"></i> Skype: you_online</p>
	                    </div>
	                    <div class="col-md-4 footer-links wow fadeInUp">
	                    	<div class="row">
	                    		<div class="col">
	                    			<h3>Links</h3>
	                    		</div>
	                    	</div>
	                    	<div class="row">
	                    		<div class="col-md-6">
	                    			<p><a class="scroll-link" href="#">Haut de page</a></p>
	                    			<p><a href="https://www.meilleursagents.com/agence-immobiliere/agence-cogelieu-sas-64364/#avis-clients" target="_blank">Nos avis clients</a></p>
	                    			<p><a href="#">Mentions légales</a></p>
	                    			<p><a href="#">Our clients</a></p>
	                    		</div>
	                    		<div class="col-md-6">
	                    			<p><a href="https://www.google.fr/maps/place/Cogelieu+Sas/@47.0124549,0.3267804,18.5z/data=!4m5!3m4!1s0x0:0xadc6e56cbc005302!8m2!3d47.0127391!4d0.3263565" target="_blank">Nous situer</a></p>
	                    			<p><a href="#">FAQ</a></p>
	                    			<p><a href="#">Terms</a></p>
	                    		</div>
	                    	</div>
	                    </div>
		            </div>
		        </div>
	        </div>
	        <div class="footer-bottom">
	        	<div class="container">
	        		<div class="row">
	           			<div class="col footer-social">
	                    	<a href="#"><i class="fab fa-facebook-f"></i></a> 
							<a href="#"><i class="fab fa-twitter"></i></a> 
							<a href="#"><i class="fab fa-google-plus-g"></i></a> 
							<a href="#"><i class="fab fa-instagram"></i></a> 
							<a href="#"><i class="fab fa-pinterest"></i></a>
	                    </div>
	           		</div>
	        	</div>
	        </div>
        </footer>