{% extends 'base.html.twig' %}

{% block body %}
     <!-- start banner Area -->
<section class="banner-area relative">
         <div class="overlay overlay-bg"></div>
         <div class="container">
             <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-6">
                    <img src="{{ asset('build/anais.jpg') }}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title">Anaimmo</h5>
                      <p class="card-text">Anaimmo est une société indépendante en collaboration avec le cabinet Cogelieu SAS depuis juillet 2019. Nous sommes un cabinet avec les 3 activitées Gestion Locative, Transaction et syndic de Copropriété</p>
                    </div>
                </div>
              </div>
         </div>
         <p><a class="btn btn-primary btn-lg" href="https://www.meilleursagents.com/agence-immobiliere/agence-cogelieu-sas-64364/#avis-clients" target="_blank" role="button">Nos avis clients</a></p>

    <!-- Example row of columns -->

    <div class="row d-flex justify-content-around">
      <div class="col-md4">
       <a href="/sale"><img src="{{asset('build/avendre.jpg') }}" class="effect" alt="Bien à vendre"></a>
      </div>
      <div class="col-md4">
      <a href="/rent"><img src="{{asset('build/alouer.jpeg') }}" class="effects" alt="Bien à louer"></a>
      </div>
      <div class="col-md4">
      <a href="/search"><img src="{{asset('build/recherche.jpeg') }}" class="effects" alt="Recherche de bien"></a>
      </div>
    </div>
</section>
  </div> <!-- /container -->


{% endblock %}